{% extends 'base.html' %}

{% block title %}Booking{% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
       {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
       </ul>
    {% endif%}
{% endwith %}
    <h2>{{ competition['name'] }}</h2>
    <p>Places disponibles: {{ competition['numberOfPlaces'] }}</p>
    <p>Points de club disponibles: {{club['points']}}</p>
    
    {% if competition['numberOfPlaces']|int > 0 %}
    <form action="/purchase_places" method="post">
        <input type="hidden" name="club" value="{{club['name']}}">
        <input type="hidden" name="competition" value="{{competition['name']}}">
        <label for="places">How many places?</label>
        <input type="number"
            name="places"
            id=""
            min="1"
            max="{{ [12, competition['numberOfPlaces']|int, club['points']|int]|min }}"
            required
        />
        <button type="submit">Book</button>
    </form>
    {% else %}
    <p>Pas de place disponible.</p>
    {% endif %}

{% endblock content %}